{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {{ form_start(form,{'attr':{'id':'form'}}) }}
    {{ form_end(form) }}

<p id ="demo"></p>

</div>

    <script>
        // let submit = document.getElementById('form');
        //
        // submit.onsubmit = function ()
        // {
        //     let name = document.getElementById('name').value;
        //     let username = document.getElementById('username').value;
        //     let phone = document.getElementById('phone').value;
        //    let xml = new XMLHttpRequest();
        //    xml.onreadystatechange = function()
        //    {
        //        if (this.readyState ===4 && this.status===200)
        //        {
        //       document.getElementById('demo').innerHTML = 'Data inserted successfully';
        //        }
        //    }
        //   let data = "name="+name+"username="+username+"phone_number="+phone;
        //    alert(data);
        //    xml.open("POST","/ajax",true);
        //     xml.send(data);
        // }
        $(document).ready(function(){
            $("#form").submit(function(evt){
                evt.preventDefault();
                let data = $(this).serialize();
                   console.log(data);
                $.post("/",data,function (res){
               $("#form")[0].reset();


                });
            });
        });

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
