{% extends 'base.html.twig' %}
{% block body %}
    <div class = 'container' style="text-align: center; ">

        <h1 style="text-align: center;font-size: 50px;">User {{ info.name }}</h1>
        <h5>Username : {{ info.username }}</h5>
        <h5>Phone Number :{{ info.phonenumber }} </h5>
        <a class="btn btn-dark" href="/form/users">Back</a>




    </div>

{% endblock %}


