{% extends 'base.html.twig' %}
{% block body %}

    <div class = 'container'>
    <h1 style="text-align: center;font-size: 50px;">User Information <span><a href="/" class="btn btn-primary">Create New User</a></span></h1>
  {% if info %}
      <table id="table" class="table table-striped">

          <tbody>
          <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Phone Number</th>
              <th>Actions</th>
          </tr>

          {% for info in info %}
          <tr id="{{ info.id }}">
              <td>{{ info.name }}</td>
              <td>{{ info.username }}</td>
              <td>{{ info.phonenumber }}</td>
              <td>
{#              <a class="btn btn-primary" href="/info/{{ info.id }}">Show</a>#}
<button type="button"  class="btn btn-success" id="show" onclick="func({{ info.id }})" data-id="{{ info.id }}"  data-toggle="modal" data-target="#exampleModal">Show</button>

                  <a class="btn btn-danger delete-user" onclick="del({{ info.id }})"  id="delete"   data-id="{{ info.id }}" >Delete</a>
{#                  <a class="btn btn-warning" id="edit" href="/edit/{{ info.id }}">Edit</a>#}
                 <!-- Button trigger modal -->
<button type="button"  class="btn btn-warning edit_modal1" id="edit_modal"  data-id="{{ info.id }}"  data-toggle="modal" data-target="#exampleModal1" >
  Edit
</button>
{#                  <a class="" data-id="{{ info.id }}" data-target='#exampleModal1' data-toggle='modal' data-title="Update Complain" title="Update">Update#}
{#                  <button  type="button" class=" btn btn-primary" data-toggle="modal" data-target="#exampleModal1"  data-id="{{ info.id }}">Edit</button>#}


<!-- Modal -->
              </td>

          </tr>
          {% endfor %}

          </tbody>
      </table>
 {% else %}
    <h1 style="text-align: center; font-size: 30px; margin-top: 40px;">No data available</h1>
    {% endif %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">User Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <table class="table table-striped">
       <tr>
       <th>Name</th>
       <th>Username</th>
       <th>PhoneNumber</th>
</tr>
<tr id="test">

</tr>
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>



         <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Edit Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% for info in info %}
                    <div class="modal-body">
                        {{ form_start(form,{'attr':{'id':'edit'}}) }}
                        {{ form_end(form) }}
                    </div>
                    {% endfor %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>






        <script language="javascript">

function del(id)
{
    if (confirm("are you sure?")) {

        document.getElementById('delete');
        let x = document.getElementById('table')
        let xml = new XMLHttpRequest();
        xml.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                //alert("deleted item's id is " + id);
                $('#'+id).hide();

            }
        };

        xml.open("GET", "/delete/" + id, true);

        xml.send();
    }
}

 function func(id) {
  let test = document.getElementById('test');
  let button =  document.getElementById('show');
 //let id = button.getAttribute('data-id');
  //alert(id);
  let xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState === 4 && this.status === 200) {
     // alert(xhttp.responseText);
       const x = JSON.parse(xhttp.responseText);
       test.innerHTML = '<td>'+x.name+'</td>' + '<td>'+ x.username+'</td>' + '<td>' +x.phone_number + '</td>';

    }
  };
  xhttp.open("POST", "/info/"+id, true);

  xhttp.send();
}


// $(document).ready(function(){
//
//     $("#edit").submit(function(evt){
//
//         evt.preventDefault();
//         let data = $(this).serialize();
//
//         $.post("/edit/"+x,data,function (res){
//             $("#edit")[0].reset();
//
//
//         });
//     });
// });
$(document).ready(function() {

    $(".edit_modal1").on('click',function () {
        let a=$(this).attr('data-id');

        alert(a);


        $("#edit").submit(function(evt) {
            //alert(document.getElementById(''))

            evt.preventDefault();
            let data = $(this).serialize();
            //alert(data);
            console.log(data);
            $.post("/edit/"+a , data, function (res) {
                $("#edit")[0].reset();
                location.reload();

            });
        });

    });

});

// let edit_modal = document.getElementsByClassName("edit_modal1");
// let edit = document.getElementById('edit');
// edit_modal.onclick = function ()
// {
//     alert("1");
//     //let a = edit_modal.getAttribute('data-id');
//     //alert(a);
// }
//
//

</script>

{#     <script>#}
{#      let edit_modal = document.getElementsByClassName("edit_modal1");#}
{#      let edit = document.getElementById('edit');#}
{#      edit_modal.onclick = function ()#}
{#      {#}
{#          alert(1);#}
{#          //let a = edit_modal.getAttribute('data-id');#}
{#          //alert(a);#}
{#      }#}

{#     </script>#}




{% endblock %}




{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <sc
{% endblock %}