{% extends 'base.html.twig' %}
{% block body %}
        <link href="{{ asset('css/app.css') }}" rel="stylesheet"/>
<h1>{{ questions }}</h1>
<div>Best Way Learn Symfony</div>
<h1>Answers ({{ answers|length }})</h1>
<ol type="a">
    {% for a in answers %}
        <li> {{ a }}</li>
    {% endfor %}
</ol>

        <img id="image" src="{{ asset('https://upload.wikimedia.org/wikipedia/commons/3/33/Vanamo_Logo.png') }}" alt="Symfony!"/>
        <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

