<form method="post" action="{{ path('c_r_u_d_delete', {'id': information.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ information.id) }}">
    <button class="btn">Delete</button>
</form>
