{% extends 'base.html.twig' %}

{% block title %}Edit Information{% endblock %}

{% block body %}
    <h1>Edit Information</h1>

    {{ include('c_r_u_d/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('c_r_u_d_index') }}">back to list</a>

    {{ include('c_r_u_d/_delete_form.html.twig') }}
{% endblock %}
