{% extends 'base.html.twig' %}

{% block title %}Information index{% endblock %}

{% block body %}
    <h1>Information index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>PhoneNumber</th>
                <th>IdNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for information in information %}
            <tr>
                <td>{{ information.id }}</td>
                <td>{{ information.Name }}</td>
                <td>{{ information.phoneNumber }}</td>
                <td>{{ information.idNumber }}</td>
                <td>
                    <a href="{{ path('c_r_u_d_show', {'id': information.id}) }}">show</a>
                    <a href="{{ path('c_r_u_d_edit', {'id': information.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('c_r_u_d_new') }}">Create new</a>
{% endblock %}
