{% extends 'base.html.twig' %}

{% block title %}New Information{% endblock %}

{% block body %}
    <h1>Create new Information</h1>

    {{ include('c_r_u_d/_form.html.twig') }}

    <a href="{{ path('c_r_u_d_index') }}">back to list</a>
{% endblock %}
