{% extends 'base.html.twig' %}

{% block title %}Information{% endblock %}

{% block body %}
    <h1>Information</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ information.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ information.Name }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ information.phoneNumber }}</td>
            </tr>
            <tr>
                <th>IdNumber</th>
                <td>{{ information.idNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('c_r_u_d_index') }}">back to list</a>

    <a href="{{ path('c_r_u_d_edit', {'id': information.id}) }}">edit</a>

    {{ include('c_r_u_d/_delete_form.html.twig') }}
{% endblock %}
