<form method="post" action="{{ path('c_r_u_d1_delete', {'id': c_r_u_d.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c_r_u_d.id) }}">
    <button class="btn">Delete</button>
</form>
