{% extends 'base.html.twig' %}

{% block title %}Edit CRUD{% endblock %}

{% block body %}
    <h1>Edit CRUD</h1>

    {{ include('c_r_u_d1/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('c_r_u_d1_index') }}">back to list</a>

    {{ include('c_r_u_d1/_delete_form.html.twig') }}
{% endblock %}
