{% extends 'base.html.twig' %}

{% block title %}CRUD index{% endblock %}

{% block body %}
    <h1>CRUD index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for c_r_u_d in c_r_u_ds %}
            <tr>
                <td>{{ c_r_u_d.id }}</td>
                <td>{{ c_r_u_d.name }}</td>
                <td>
                    <a href="{{ path('c_r_u_d1_show', {'id': c_r_u_d.id}) }}">show</a>
                    <a href="{{ path('c_r_u_d1_edit', {'id': c_r_u_d.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('c_r_u_d1_new') }}">Create new</a>
{% endblock %}
