{% extends 'base.html.twig' %}

{% block title %}New CRUD{% endblock %}

{% block body %}
    <h1>Create new CRUD</h1>

    {{ include('c_r_u_d1/_form.html.twig') }}

    <a href="{{ path('c_r_u_d1_index') }}">back to list</a>
{% endblock %}
