{% extends 'base.html.twig' %}

{% block title %}CRUD{% endblock %}

{% block body %}
    <h1>CRUD</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ c_r_u_d.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ c_r_u_d.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('c_r_u_d1_index') }}">back to list</a>

    <a href="{{ path('c_r_u_d1_edit', {'id': c_r_u_d.id}) }}">edit</a>

    {{ include('c_r_u_d1/_delete_form.html.twig') }}
{% endblock %}
